* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #e0e0e0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #338e9c;
}

header {
    background: linear-gradient(to right, #6bc1c9, #338e9c);
    padding: 20px;
    text-align: left;
}

header .logo h1 {
    font-size: 30px;
    margin-left: 5px;
}

main {
    background-color: #1e5258;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin:20px auto;
    padding:10px;
}

.perfil-container {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    gap: 20px;
}

.foto-perfil {
    display: flex;
    align-items: center;
    margin-left: 1280px;
}

.foto-funcionario {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.detalhes {
    font-size: 16px;
    line-height: 1.5;
}

.detalhes strong {
    font-weight: bold;
}

.informações-adicionais {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 20px;
}